.header {
  width: 100vw;
  height: 50px;
  background-color: dimgrey;
}

.content-wrapper {
  display: flex;
}

.sidebar {
  flex: 0 0 20%;
  background-color: antiquewhite;
}

.content {
  flex: 0 0 80%;
}
